* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans';
  height: 100%;
  margin: 0;
  min-height: 100%;
}

a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.undotted {
  list-style-type: none;
}

label {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

h2, h1 {
  margin: 0;
}

p {
  margin: 0;
}

.title-hidden {
  visibility: hidden;
  max-width: 0;
  max-height: 0;
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  color: #1E0606;    
}

.btn {
  background-color: #000;
  color: #ffff;
  font-size: 16px;
  line-height: 22px;
  max-width: max-content;
  padding: 9px 22px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

/* стилизация header */

.header {
  display: flex;
  margin-top: 50px;
  align-items: center;
  margin-left: 110px;
}

.header__nav {
  padding-left: 35px;
  padding-bottom: 5px;
}

.header__list {
  display: flex;  
  height: 20px;
  left: 216px;
  top: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}

.header__contact {
  padding-left: 650px;
}

.header__contact-item {
  font-weight: 700;
  font-size: 14px;
  color: #1E0606;
  padding-left: 24px;
}

.header__logo {
  padding-right: 25px;
}

.header__list-link {
  font-size: 16px;
  line-height: 20px;
  color: #1E0606;
  padding-right: 15px;
}

/* стилизация footer */

.footer {
  background-color: #434343;
  padding-bottom: 100px;
}

.footer__container {
  padding-left: 110px;
  padding-top: 100px;
  display: flex;
}

.footer__link {
  color: #ffffff;
}

.name-block {
  color: #AAAAAA;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.footer__column1 {
  padding-top: 23px;
  line-height: 22px;
}

.footer__column1-items {
  padding-top: 28px;
}

.footer__column-items {
  padding-top: 15px;
}

.footer__blocks-second {
  padding-left: 20px;
}

.footer__blocks-third {
  padding-left: 20px;
}

.footer__email {
  background-color: #666;
  border: none;
  height: 40px;
  width: 299px;
}

.footer__under {
  margin-top: 28px;
  margin-left: 110px;
  border-top: 1px solid #666666;
  width: 1180px;
}

.footer__under__box {
  margin-top: 23px;
  display: flex;
}  

.footer__button {
  margin-left: -5px;
  padding-top: -1px;
  width: 81px;
  height: 40px;
}

.footer_awards {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer_awards__item {
  align-items: center;
  background-color: #666;
  border-radius: 15px;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.footer__rating__group {
  color: #ffffff;
  display: flex;
}

.footer__rating {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 16px;
  align-items: center;
}

.footer__star {
  padding-left: 25px;
}

.rating__star {
  display: none;
  margin: 0;
  position: absolute;
}

.label-rating {
  background-image: url(../img/icon/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 15px 13px;
  margin-top: 3px;
  margin-right: 5px;
  padding-right: 15px;
}

.footer__under-info {
  padding-left: 154px;
  color: #ffffff;
}

.footer__under-info-link {
  color: #A2A2A2;
  padding-left: 154px;
}