.footer {
    background-color: #434343;
    &_container {
      color: #AAAAAA;
      padding-left: 70px;
      padding-top: 70px;
    }
    &_blocks {
      display: flex;
    }
    &_column1-items {
      padding-top: 28px;
    }
    &_column-items1 {
      padding-top: 20px;
    }
    &_link {
      color: #ffffff;
    }
    &_column2 {
      padding-left: 20px;
    }
    &_column3 {
      padding-left: 20px;
    }
    &_last {
      display: flex ;
    }    
  }

.name-block {
  padding-bottom: 9px;
}

.simple-rating {
  position: relative;
  font-size: 16px;
  display: block;
  color: #ffffff;
  &_items {
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    flex-direction: row-reverse;
    overflow: hidden;
  }
  &_lable {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
  }
}

.simple-rating :before {
  content: "★★★★★";
  display: block;
}

.copyright {
  color: #ffffff;
}

.development {
  color: #A2A2A2;
}