html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-base-family;
  height: 100%;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  list-style: none;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.undotted {
  list-style-type: none;
}

.label {
  cursor: pointer;
}


/* стилизация header */

.header {
  display: flex;
  margin-top: 50px;
  align-items: center;
  margin-left: 110px;
}

.header__list {
  padding-left: 60px;
  display: flex;  
  height: 20px;
  left: 216px;
  top: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.header__contact {
  padding-left: 640px;
}

.header__contact-item {
  font-weight: 700;
  font-size: 14px;
  color: #1E0606;
  padding-left: 24px;
}

.header__list-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-right: 15px;
}

/* стилизация footer */

.footer {
  background-color: #434343;
}

.footer__container {
  color: #AAAAAA;
  padding-left: 70px;
  padding-top: 70px;
}

.footer__blocks {
  display: flex;
}

.name-block {
  padding-bottom: 9px;
}

.footer__column1-items {
  padding-top: 28px;
}

.footer__column-items1 {
  padding-top: 20px;
}

.footer__link {
  color: #ffffff;
}

.footer__column2 {
  padding-left: 20px;
}

.footer__column3 {
  padding-left: 20px;
}

.footer__last {
  display: flex ;
}

.simple-rating {
  position: relative;
  font-size: 16px;
  display: block;
  color: #ffffff;
}

.simple-rating :before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 0px;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;

}

.simple-rating__lable {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
}

.copyright {
  color: #ffffff;
}

.development {
  color: #A2A2A2;
}