<footer class="footer">
  <div class="footer__container">
    <div class="footer__blocks">
      <ul class="footer__column1">
        <p class="name-block">Navigation</p>
        <div style="width:380px; border-top:1px solid #666666" class="line-first"></div>
        <li class="footer__column1-items">
          <a href="#" class="footer__link">About Us</a>
        </li>
        <li class="footer__column-items1">
          <a href="#" class="footer__link">Blog</a>
        </li>
        <li class="footer__column-items1">
          <a href="#" class="footer__link">Design Services</a>
        </li>
        <li class="footer__column-items1">
          <a href="#" class="footer__link">Featured On</a>
        </li>
        <li class="footer__column-items1">
          <a href="#" class="footer__link">2018 Holiday Catalog</a>
        </li>
        <li class="footer__column-items1">
          <a href="#" class="footer__link">Shop By Designer</a>
        </li>
      </ul>
      <ul class="footer__column2">
        <p class="name-block">Customer Information</p>
        <div style="width:380px; border-top:1px solid #666666" class="line-first"></div>
        <li class="footer__column1-items">
          <a href="#" class="footer__link">Contact Us</a>
        </li>
        <li class="footer__column-items1">
          <a href="#" class="footer__link">Sale Exclusions</a>
        </li>
        <li class="footer__column-items1">
          <a href="#" class="footer__link">Shipping & Returns</a>
        </li>
        <li class="footer__column-items1">
          <a href="#" class="footer__link">Terms & Conditions</a>
        </li>
        <li class="footer__column-items1">
          <a href="#" class="footer__link">Privacy Policy</a>
        </li>
        <li class="footer__column-items1">
        <a href="#" class="footer__link">Search</a>
        </li>
      </ul>
      <ul class="footer__column3">
        <p class="name-block">Connect</p>
        <div style="width:380px; border-top:1px solid #666666" class="line-first"></div>
        <div class="footer__column1-items"></div>
        <form class="footer-email" action="#"label for="email">Email</label>
        <input type="email" id="email" name="email">Join</form>
        <li>
          <a href="" class="awards__link"><img src="./img/icon/Facebook.svg" alt="Facebook"></a>
        </li>
        <li>
          <a href="" class="awards__link"><img src="./img/icon/Twitter.svg" alt="Twitter"></a>
        </li>
        <li>
          <a href="" class="awards__link"><img src="./img/icon/Pinterest.svg" alt="Pinterest"></a>
        </li>
        <li>
          <a href="" class="awards__link"><img src="./img/icon/Instagram.svg" alt="Instagram"></a>
        </li>
      </ul>
    </div>
    <div class="footer__last">
      <div style="width:1180px; border-top:1px solid #666666" class="line-last"></div>
      <div class="simple-rating">
        <p>Company Rating</p>
        <div class="simple-rating__items">
          <input id="simple-rating__5" type="radio"  class="simple-rating__item" name="simple-rating" value="5">
          <label for="simple-rating__5" class="simple-rating__lable"></label>
          <input id="simple-rating__4" type="radio"  class="simple-rating__item" name="simple-rating" value="4">
          <label for="simple-rating__4" class="simple-rating__lable"></label>
          <input id="simple-rating__3" type="radio"  class="simple-rating__item" name="simple-rating" value="3">
          <label for="simple-rating__3" class="simple-rating__lable"></label>
          <input id="simple-rating__2" type="radio"  class="simple-rating__item" name="simple-rating" value="2">
          <label for="simple-rating__2" class="simple-rating__lable"></label>
          <input id="simple-rating__1" type="radio"  class="simple-rating__item" name="simple-rating" value="1">
          <label for="simple-rating__1" class="simple-rating__lable"></label>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright © 2018 Dlk • Design Life Kids</p>
      </div>
      <div class="development">
        <p>Web Design — Direct Line Development</p>
      </div>
    </div>
  </div>
</footer>