<header class="header">
    <a href="/" class="header__link">
      <img class="header__logo" src="./img/icon/Logo.svg"/>
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__list-item undotted"><a href="blog.html"  class="header__list-link">BLOG</a></li>
        <li class="header__list-item undotted"><a href="catalog.html"  class="header__list-link">CATALOG</a></li>
        <li class="header__list-item undotted"><a href="#"  class="header__list-link">ABOUT US</a></li>
      </ul>
    </nav>
    <ul class="header__list header__contact">
      <a href="#"></a><img src="./img/icon/Search.svg" alt="#">
      <li class="header__list-item"><a class="header__contact-item" href="contact.html">CONTACT US</a></li>
    </ul>
  </header>